* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('../public/assets/images/background.png');
}

.close_checkout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 14px;
  background: #eee;
  border: none;
  z-index: 99;
  font-size: 28px;
}
.checkout_container {
  display: flex; 
  justify-content: center; 
  /* align-items: center; */
  background-color: rgb(250,252,254);
}
.checkout_wrapper {
  display: flex; 
  justify-content: center; 
  align-items: flex-end;
}
.checkout_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid blue; */
}
.brand_img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.brand_img .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.img_wrap img {
  width: 170%;
}
.brand_img h4 {
  font-weight: 600;
  font-size: 1.4em;
}
.brand_img span {
  font-weight: lighter;
}
.nav_timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
  font-weight: 600;
}
.nav_timer span {
  border-radius: 6px;
  padding: 10px 12px;
  width: 40px;
  text-align: center;
  background: midnightblue;
  font-size: 18px;
  color: white;
}
.nav_timer i {
  font-style: normal;
  padding: 0 2px;
  font-size: 1.5em;
}
.checkout_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.card_number h3 {
  font-weight: 600;
  font-size: 1.1em;
  color: #232e51;
}
.card_number p {
  font-size: 13px;
  color: #a5a9b7;
  font-weight: 500;
}
.edit_wrap span {
  color: royalblue;
  font-weight: 600;
}
.edit_wrap button {
  white-space: nowrap;
}
.digits_input_wrap {
  width: 100%;
  position: relative;
}
.digits_input_wrap img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 35px;
  transform: translate(-50%, -40%);
}
.digits_input_wrap input {
  padding: 13px 70px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  outline: none;
  background: whitesmoke;
  border-radius: 8px;
  width: 100%;
  color: #444;
  display: block;
  font-weight: 600;
}
input::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}
input::-webkit-inner-spin-button {
  appearance: none;
}
.digits_input_wrap i {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
  color: royalblue;
}
.cvv h3 {
  font-weight: 600;
  font-size: 1.1em;
  color: #232e51;
}
.cvv p {
  font-size: 13px;
  color: #b8bdcd;
  font-weight: 500;
}
.cvv_input {
  position: relative;
}
.cvv_input input::placeholder {
  font-weight: 600;
  color: #999;
}
.cvv_input input {
  position: relative;
  padding: 13px 10px;
  font-size: 1.1em;
  border: 1px solid #ddd;
  outline: none;
  background: whitesmoke;
  border-radius: 8px;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 700;
  color: #444;
}
.cvv_input.pair {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cvv_input.pair span {
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
}
.cvv_input i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  color: #bbb;
}
.pay_button button {
  display: block;
  width: 100%;
  padding: 18px 15px;
  background: #015efe;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  transition: .3s;
}
.pay_button button:hover {
  opacity: .9;
}
.receipt_ {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}
.receipt_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 20em;
  height: 34em;
  background-color: #e7ebee;
  background-image: linear-gradient(to bottom, rgb(231,235,238) 5%, rgb(239,245,249));
  border-radius: 15px;
  padding: 1.5em  2em 1.5em;
}
.receipt_wrap {
  width: 100%;
}
.card_img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -34%);
  width: 250px;
  max-height: 370px;
}
.receipt_details p {
  font-size: 13px;
  color: #97a0b1;
  font-weight: 600;
  white-space: nowrap;
}
.responses p {
  color: #232e51;
  font-weight: 600;
}
.receipt_footer {
  position: relative;
  border-top: 2px dashed #aaa;
  margin-top: 1.8em;
  padding-top: 1.8em;
}

.apple-logo {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #232e51;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.receipt_footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}
.receipt_footer::after {
  content: '';
  position: absolute;
  top: 0;
  right: -30px;
  transform: translate(50%, -50%);
  z-index: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
}
.footer_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_wrap h3 {
  font-weight: 700;
  color: #232e51;
}
.footer_wrap h3 small {
  font-size: 16px;
  font-weight: 600;
}
.footer_wrap .receipt_icon {
  border: none;
}
.footer_wrap .receipt_icon i {
  font-size: 1.7em;
}
@media screen and (max-width: 775px) {
  .receipt_ {
      padding-top: 11em;
  }
}
@media screen and (max-width: 600px) {
  .nav_timer {
      margin-left: auto;
  } 
  .nav_timer span {
      width: 30px;
      padding: 7px 9px;
      font-size: 16px;
  }
  .nav_timer i {
      font-style: normal;
      padding: 0 1px;
      font-size: 1.2em;
  }
  .brand_img {
      gap: 5px;
  }
  .brand_img .img_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
  }
  .img_wrap img {
      width: 170%;
  }
  .brand_img h4 {
      font-weight: 600;
      font-size: 1.1em;
  }
  
  .pay_button button {
      padding: 10px;
  }
}